<!DOCTYPE html>
{% load static %}

<html>

	<head>
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
		
		<style>
			.context-menu {
				position: absolute;
			}

			.menu {
				display: flex;
				flex-direction: column;
			}
		</style>
	</head>

	<body>
		<div id="contextMenu" class="context-menu" style="display: none;">
			<ul>
			</ul>
		</div>

		<h1> course display </h1>
		<div>
			<button onclick="document.querySelectorAll('button[title=\'Previous week\']').forEach(x => x.click())">prev week</button>
			<button onclick="document.querySelectorAll('button[title=\'Next week\']').forEach(x => x.click())">next week</button>
		</div>
		<div id='calArea'></div>
		<script src="{% static 'courseDisplay.js' %}"></script>
		<script src="{% static 'globalCalControlls.js' %}"></script>
	</body>

	<script>
		document.onclick = hideMenu;
		document.oncontextmenu = rightClick;

		function hideMenu() {
			document.getElementById("contextMenu").style.display = "none"
		}

		function rightClick(e) {
			e.preventDefault();

			if (document.getElementById("contextMenu") .style.display == "block"){ hideMenu(); }
			else
			{
				var menu = document.getElementById("contextMenu")
				menu.style.display = 'block';
				menu.style.left = e.pageX + "px";
				menu.style.top = e.pageY + "px";
			}
		}
	</script>
</html>