<!DOCTYPE html>
{% load static %}

<html>
	<body>
	<h1>hello! the index is currently not used for anything. <a href="/iframes/courseSelect" >click here to go to the usefull bit</a> </h1>
	<h4 style="margin: 0">what is this meant to do?</h4>
	<p style="margin: 0">
		it is intended to compute and display every combination for every possible selection of lecture slot, lab slot, etc. <br/>
		between all the different courses you wish to take. <br/>
		it then displays these combinations in a calendar view, in ascending order by collision count. <br/>
	</p>
	</body>
</html>